
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

/* MAIN ELEMENTS*/
html {
  font-family: 'Exo', sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  font-family: 'Exo', sans-serif;
  margin: 0;
  color: #000;
  background-image: url("../images/cubes.png");
  background-color: #2e7bcf;
  
}

header {
  background-color: #fff;
  opacity: 0.85;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
}


ul {
    float: right;   
    color:#000;
    list-style-type: none;
    margin-top: 0px;
}

li {
    float: left;
    display: inline;
    padding-right: 20px;
}

li>a {
  color: #000;
  text-align: center;
  padding:10px;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

section{
 margin-top: 75px;
 font-size: 1.2em;

}

a:hover {
  color: #2e7bcf;
  text-decoration: none;
}

img{
  float: right;
}


/* CLASSES */

.active {
    background-color: #2e7bcf;
    color: white;
}

.container{
  margin:10px 20px 10px 10px;
  padding-top: 10px; 
  font-size: 1.6em;
}

.stretch{
  width:100%;
  height: 50%;
}

.section_division{
  padding : 1px 20px 20px 20px;
  border-bottom: solid;
  margin-top: 75px;
}
/* ID ELEMENTS */



#avatar{
  position: relative;
  float: left;
  opacity: 0.8;
}

#brand-name{
  width: 200px;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 25px;
  color : #000;
}

#brand-name{
  -webkit-transition: all 1s ease; /* Safari */
}

#brand-name:hover{
  font-size: 1.5em;
  color: #2e7bcf;
}

#name{
  font-size: 2em;
  text-align: left;
}

#my_section {
  padding : 1px 20px 60px 20px;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  height: 500px;
  box-shadow: 0px 00px 15px #000;
}

#icon_links{
  height: 100px;
   -webkit-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  -moz-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,.1));
  -webkit-tap-highlight-color: rgba(255,255,255,.1);
}
#icon_links>a{
  display: inline-block;
  padding: 10px 20px 20px 10px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease; 
}
#icon_links>a:hover{
  -ms-transform: translate(0px,-10px);
  -moz-transform: translate(0px,-10px);
  -webkit-transform: translate(0px,-10px);
  transform: translate(0px,-10px);
  -webkit-transition: transform .5s;
  transition: transform .5s;
}

